.footer {
  width: 100%;
  position: absolute;
  bottom: 12px;
  left: 0;
  font-size: 12px;
  color: #6f737b;
  text-align: center;
  line-height: 16px;
  z-index: 1;

  a {
    color: #6f737b;
  }

  &:hover {
    a {
      color: #1884f0;
    }
  }
}
